.smarter__button:after, .featured-agents__content-button:after, .choose-us__content-button:after, .featured-properties__content-button:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 0;
  border-radius: 25px;
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.hero {
  position: relative;
  padding: 200px 0;
  background: #181d21;
}
.hero:hover .hero__button:after {
  opacity: 1;
  padding-right: 50px;
}
.hero__swiper--left .hero-text-swiper {
  margin: unset;
  width: 65%;
  color: white;
}
@media screen and (max-width: 991.98px) {
  .hero__swiper--left .hero-text-swiper {
    width: unset;
  }
}
.hero__swiper--left .hero-text-swiper__title {
  font-weight: 700;
  margin-bottom: 4px;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper--left .hero-text-swiper__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.hero__swiper--left .hero-text-swiper__desc {
  margin-bottom: 20px;
  color: #cccccc;
}
.hero__swiper--left .hero-text-swiper__price {
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 24px;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper--left .hero-text-swiper__price {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero__swiper--left {
    padding: 25px;
  }
}
.hero__swiper--right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0;
  z-index: 0;
}
.hero__swiper--right .hero-img-swiper {
  height: 100%;
}
.hero__swiper--right .hero-img-swiper__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper--right .hero-img-swiper__img {
    filter: brightness(0.7);
  }
}
@media screen and (max-width: 767.98px) {
  .hero__swiper--right {
    position: unset;
    height: 65vh;
  }
}
.hero__swiper-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper-container {
    width: 100%;
    bottom: 50%;
  }
}
.hero__swiper-button {
  z-index: 5;
  display: flex;
  background-color: black;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper-button {
    justify-content: space-between;
    width: 100%;
    gap: unset;
    background-color: unset;
    padding: 24px 8px;
  }
}
.hero__swiper-button .hero__swiper-button-next {
  position: unset;
  width: unset;
  height: unset;
  margin-top: unset;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12px;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper-button .hero__swiper-button-next {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
  }
}
.hero__swiper-button .hero__swiper-button-next:after {
  content: unset;
}
.hero__swiper-button .hero__swiper-button-prev {
  position: unset;
  width: unset;
  height: unset;
  margin-top: unset;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12px;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper-button .hero__swiper-button-prev {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
  }
}
.hero__swiper-button .hero__swiper-button-prev:after {
  content: unset;
}
.hero__swiper-pagination {
  position: unset !important;
  color: white !important;
  font-weight: 800;
}
@media screen and (max-width: 767.98px) {
  .hero__swiper-pagination {
    display: none;
  }
}
.hero__button {
  color: white;
}
.hero__button:after {
  border: 2px solid white;
}
@media screen and (max-width: 767.98px) {
  .hero {
    padding: 0;
    height: 100vh;
  }
}

.featured-properties {
  padding: 100px 0;
}
.featured-properties:hover .featured-properties__button:after {
  opacity: 1;
  padding-right: 50px;
}
.featured-properties__content-title {
  font-weight: 700;
}
@media screen and (max-width: 575.98px) {
  .featured-properties__content-title {
    text-align: center;
  }
}
.featured-properties__content-desc {
  color: grey;
}
@media screen and (max-width: 575.98px) {
  .featured-properties__content-desc {
    text-align: center;
  }
}
.featured-properties__content-row {
  padding: 48px 0;
}
@media screen and (max-width: 575.98px) {
  .featured-properties__content-row {
    justify-content: center;
  }
}
.featured-properties__content-item {
  margin-bottom: 24px;
}
.featured-properties__content-button {
  position: relative;
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.featured-properties__content-button:hover {
  color: #edc170;
}
.featured-properties__content-button:hover:after {
  border-color: #edc170;
}
.featured-properties__content-button:after {
  left: 100%;
  margin-left: 10px;
  border-bottom: 3px solid black;
}
.featured-properties__button {
  color: black;
}
.featured-properties__button:after {
  border: 2px solid black;
}

.choose-us {
  position: relative;
}
.choose-us:hover .choose-us__button:after {
  opacity: 1;
  padding-right: 50px;
}
.choose-us__container {
  padding: 200px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/img/services-c-fig-2.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  color: white;
}
@media screen and (max-width: 991.98px) {
  .choose-us__container {
    padding: 50px 0;
    background-size: cover;
    background-position: bottom center;
  }
}
.choose-us__row {
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .choose-us__row {
    margin: auto;
  }
}
.choose-us__content {
  color: white;
}
.choose-us__content-title {
  font-weight: 700;
}
.choose-us__content-desc {
  color: #cccccc;
}
.choose-us__content-button {
  position: relative;
  margin-top: 24px;
  padding: 0;
  color: white;
  font-weight: 700;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.choose-us__content-button:hover {
  color: #edc170;
}
.choose-us__content-button:hover:after {
  border-color: #edc170;
}
.choose-us__content-button:after {
  left: 100%;
  margin-left: 10px;
  border-bottom: 3px solid white;
}
.choose-us__swiper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 991.98px) {
  .choose-us__swiper {
    position: relative;
    transform: translateY(0);
    width: 100%;
    margin-top: 24px;
  }
}
.choose-us__swiper .swiper .swiper-wrapper .swiper-slide {
  height: auto;
}
.choose-us__swiper-button {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  margin-top: 14px;
}
.choose-us__swiper-button .choose-swiper-button-next {
  position: unset;
  width: unset;
  height: unset;
  margin-top: unset;
  color: black;
}
.choose-us__swiper-button .choose-swiper-button-next:after {
  content: unset;
}
@media screen and (max-width: 991.98px) {
  .choose-us__swiper-button .choose-swiper-button-next {
    color: white;
  }
}
.choose-us__swiper-button .choose-swiper-button-prev {
  position: unset;
  width: unset;
  height: unset;
  margin-top: unset;
  color: black;
}
.choose-us__swiper-button .choose-swiper-button-prev:after {
  content: unset;
}
@media screen and (max-width: 991.98px) {
  .choose-us__swiper-button .choose-swiper-button-prev {
    color: white;
  }
}
.choose-us__swiper-card {
  height: 100%;
  background-color: black;
  padding: 24px;
  text-align: center;
  cursor: grab;
}
.choose-us__swiper-card-svg {
  width: 100px;
  height: 100px;
  transition: all ease-in-out 0.4s;
}
@media screen and (max-width: 991.98px) {
  .choose-us__swiper-card-svg {
    width: 80px;
    height: 80px;
  }
}
.choose-us__swiper-card-title {
  margin-top: 42px;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
}
@media screen and (max-width: 991.98px) {
  .choose-us__swiper-card-title {
    font-size: 18px;
  }
}
.choose-us__swiper-card-desc {
  color: #cccccc;
  font-size: 12px;
}
.choose-us__button {
  color: white;
}
.choose-us__button:after {
  border: 2px solid white;
}

.featured-agents {
  padding: 100px 0;
}
.featured-agents:hover .featured-agents__button:after {
  opacity: 1;
  padding-right: 50px;
}
.featured-agents__content-title {
  font-weight: 700;
}
@media screen and (max-width: 575.98px) {
  .featured-agents__content-title {
    text-align: center;
  }
}
.featured-agents__content-desc {
  color: grey;
}
@media screen and (max-width: 575.98px) {
  .featured-agents__content-desc {
    text-align: center;
  }
}
.featured-agents__content-row {
  padding: 48px 0;
}
@media screen and (max-width: 575.98px) {
  .featured-agents__content-row {
    justify-content: center;
  }
}
.featured-agents__content-item {
  margin-bottom: 56px;
}
.featured-agents__content-item .agent-card {
  display: block;
  position: relative;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.featured-agents__content-item .agent-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.featured-agents__content-item .agent-card:hover .agent-card__info {
  max-height: 100px;
}
.featured-agents__content-item .agent-card:hover .agent-card__info-name {
  padding: 0;
}
.featured-agents__content-item .agent-card__info {
  margin: auto;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 80%;
  max-height: 56px;
  padding: 8px;
  background-color: black;
  border-radius: 10px;
  transition: max-height ease-in-out 0.5s;
  overflow: hidden;
}
.featured-agents__content-item .agent-card__info:hover {
  background-color: black;
}
.featured-agents__content-item .agent-card__info-name {
  margin: 0;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 16px;
  color: white;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}
.featured-agents__content-item .agent-card__info-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: grey;
}
.featured-agents__content-item .agent-card__info-contact-icon {
  width: 14px;
  height: 14px;
}
.featured-agents__content-item .agent-card__info-contact-number {
  font-size: 14px;
  text-decoration: none;
  margin: 0;
}
.featured-agents__content-item .agent-card__image {
  object-position: top center;
}
.featured-agents__content-item .agent-card__image-container {
  border-radius: 10px;
  overflow: hidden;
}
.featured-agents__content-item .agent-card__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.featured-agents__content-item .agent-card__image-container:before {
  content: "";
  display: block;
  padding-top: 114.9425287356%;
}
@media screen and (max-width: 575.98px) {
  .featured-agents__content-item .agent-card {
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 480px) {
  .featured-agents__content-item .agent-card {
    width: 100%;
  }
}
.featured-agents__content-button {
  position: relative;
  color: black;
  font-weight: 700;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}
.featured-agents__content-button:hover {
  color: #edc170;
}
.featured-agents__content-button:hover:after {
  border-color: #edc170;
}
.featured-agents__content-button:after {
  left: 100%;
  margin-left: 10px;
  border-bottom: 3px solid black;
}
.featured-agents__button {
  color: black;
}
.featured-agents__button:after {
  border: 2px solid black;
}

.smarter {
  overflow: hidden;
}
.smarter__background {
  padding: 200px 0;
  background-repeat: no-repeat;
  background-image: url("../../img/cta-fig-3.jpg");
  background-position: center;
  background-size: cover;
  transition: all ease-in-out 0.4s;
}
.smarter__background:hover .smarter__background__button:after {
  opacity: 1;
  padding-right: 100px;
}
.smarter__row {
  justify-content: center;
}
.smarter__content {
  width: 100%;
  padding: 42px;
  margin: auto;
  background-color: black;
  color: white;
}
@media screen and (max-width: 480px) {
  .smarter__content {
    padding: 24px;
  }
}
.smarter__content:hover .section-title__highlight {
  color: #edc170;
}
.smarter__content:hover .smarter__button:after {
  opacity: 1;
  padding-right: 50px;
}
.smarter__content-text-title {
  font-weight: 700;
}
.smarter__content-text-desc {
  margin-bottom: 50px;
  color: grey;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 575.98px) {
  .smarter__title {
    text-align: unset !important;
  }
}
.smarter__desc {
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 575.98px) {
  .smarter__desc {
    text-align: unset;
  }
}
.smarter__button {
  color: white;
}
.smarter__button:hover {
  color: #edc170;
}
.smarter__button:hover:after {
  border-color: #edc170;
}
.smarter__button:after {
  left: 100%;
  margin-left: 10px;
  border-bottom: 3px solid white;
}

/*# sourceMappingURL=home.css.map */
