@use "../_config.scss" as *;

.listing-page {
  overflow: hidden;

  &__row {
    position: relative;
    @media screen and (max-width: 767.98px) {
      flex-direction: column-reverse;
    }
  }

  &__col {
    padding: 0;

    &--item {
      @extend .listing-page__col;
      max-width: 100%;
      transition: max-width ease-in-out 0.3s;

      @media screen and (max-width: 991.98px) {
        max-width: 100% !important;
      }
    }

    &--map {
      @extend .listing-page__col;
      margin-top: 64px;
      position: relative;

      position: absolute;
      right: -10000px;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all ease-in-out 0.5s;
    }
  }

  .property {
    max-height: 100vh;
    width: 100%;

    padding-top: 72px;

    overflow: scroll;
    overflow-x: hidden;

    &__container {
      padding: 0px 5%;

      @media screen and (max-width: 575.98px) {
        padding-top: 12px;
      }
    }

    &__row {
      padding: 0 4px;
      margin-bottom: 8px;
    }

    &__col {
      padding: 0 4px;
      margin: auto;
    }

    &__header {
      &-input {
        padding: 8px;
        padding-right: 20%;
        width: 100%;
        outline: none;
        border: 1px solid #efefef;
        background: #fff url("/assets/svg/search.svg") right 0.75rem center/14px
          no-repeat;

        &:placeholder-shown {
          text-overflow: ellipsis;
        }
      }

      &-select {
        padding: 8px;
        width: 100%;
        outline: none;
        border: 1px solid #efefef;

        background: #fff url("/assets/svg/arrow.svg") right 0.75rem center/8px
          10px no-repeat;
        appearance: none;
      }

      &-button {
        background-color: white;
        border: 1px solid #efefef;
        width: 100%;
        padding: 8px;
        transition: all ease-in-out 0.3s;

        &:hover {
          background-color: colorMod(white, -20%);
        }
      }
    }

    &__body {
      padding-bottom: 48px;

      &-header {
        &-title {
          font-size: 1.5rem;

          @media screen and (max-width: 480px) {
            font-size: 14px;
          }
        }
      }

      &-content {
        &-row {
          padding-top: 48px;
          @media screen and (max-width: 991.98px) {
            justify-content: center;
          }

          @media screen and (max-width: 575.98px) {
            padding-top: 24px;
          }
        }

        &-item {
          margin-bottom: 24px;
          .property-card {
            // @media screen and (max-width: 991.98px) {
            //   height: 150px;
            // }
          }
        }
      }

      &-pagination {
        display: flex;
        gap: 16px;

        & ul {
          display: flex;
          gap: 8px;
          padding: 0;
          margin: 0;
          list-style: none;

          .pagination {
            padding: 8px;
            background-color: white;
            color: black;
            transition: all ease-in-out 0.3s;

            &:hover {
              background-color: colorMod(white, -20%);
            }
          }
        }
      }
    }

    /* scrollbar */
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .property-map {
    width: 100%;
    height: 100%;

    &__iframe {
      width: 100%;
      height: 100%;
    }
  }

  .backdrop {
    display: none;
    position: absolute;
    z-index: 99;
    right: -10000px;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.5s;
    background-color: rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 991.98px) {
      display: block;
    }
  }

  .offcanvas-custom {
    margin-top: 64px;
    width: 50%;
    padding: 0;
    position: absolute !important;

    @media screen and (min-width: 992px) {
      z-index: 0;
    }

    @media screen and (max-width: 575.98px) {
      width: 100%;
    }

    &__btn {
      display: flex;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: white;
      border-radius: 50%;
      padding: 12px;
    }
  }

  .less {
    max-width: 50%;
  }
  .show-map {
    max-width: 50%;
    right: 0;
  }

  .show-backdrop {
    right: 100%;
  }
}
